@using Yar.EnterpriseCommon.Extend;
@{
    this.AppUrl = Model.AppUrl;
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = context.Credential.TokenId;
    Yar.Service.Permission.LoginCredentials credential = context.Credential;
    Yar.Service.Model.BusinessGroup[] nodes = Model.Data;
    string defaultviewId = Model.Node.ID;
    var user = context.Credential.Name == null ? "" : context.Credential.Name;
    var userPhotoId = (string)context.Credential.Data["PhotoAttachmentID"];
    string template = Model.Content == null ? "" : Model.Content.Template;
    Yar.EnterpriseService.Modal.SelectItem currentLegal = credential.CurrentLegal();
    Yar.EnterpriseService.Modal.SelectItem[] legalList = credential.LegalList();
    var nodeIdList = Yar.Service.UIHelper.GetNodeIdPath(context, defaultviewId);
    var sidebar_closed = Yar.Service.UIHelper.GetRequestCookie(context, "sidebar_closed");
    var IsSidebarClosed = sidebar_closed == "" || sidebar_closed == "0" ? false : true;

}
@helper  NodesHtml(Yar.Service.Model.BusinessGroup[] nodes, string tokenId,string[] idpath)
{
if (nodes.Length > 0)
{
        <ul class="sub-menu">
            @foreach (var item in nodes)
            {
                //var selected = (string)item.ResID == (string)Model.Action ? "" : "";
                var selected = CheckSelected(item, (string)Model.Action, idpath);
                var nodeContent = (Yar.Service.Model.NodeContent)Yar.Service.UIHelper.GetNodeContent(item.ResID);
                var icon = item.Icon;
                if (nodeContent != null)
                {
                    icon = nodeContent.GetItemValue("Icon");
                }
                <li class="@(selected ? "active" :"")">
                    @if (item.children.Count > 0)
                    {
                        <a href="javascript:;">
                            @if (icon != null)
                            {
                                <i class="@icon"></i>
                            }
                            <span class="title">@item.Name</span>
                            @if (selected)
                            {
                                <span class="arrow open"></span>
                            }
                            else
                            {
                                <span class="arrow"></span>
                            }
                        </a>
                        @NodesHtml(item.children.ToArray(), tokenId, idpath)
                    }
                    else
                    {
                        <a href="@GetNodeUrl(item, tokenId)" id="@item.ResID" class="@(item.DisplayType == "frame" ? "framefy":"") menu-node">

                            @if (icon != null)
                            {
                                <i class="@icon"></i>
                            }
                            <span class="title">@item.Name</span>

                        </a>
                    }

                </li>
            }
        </ul>
}
}
@functions{
    string AppUrl { get; set; }
    string GetNodeUrl(Yar.Service.Model.BusinessGroup item, string tokenId)
    {
        string url = "";
        if (!string.IsNullOrEmpty(item.UrlPath))
        {
            string path = string.IsNullOrEmpty(this.AppUrl) ? "/" + item.UrlPath : "/" + this.AppUrl + "/" + item.UrlPath;
            url = Yar.Core.YarSystem.GetViewSitePath(path);
        }
        else if (!string.IsNullOrEmpty(item.ViewPath))
        {
            url = Yar.Core.YarSystem.GetViewSitePath(item.ViewPath);
            if (!url.Contains("?"))
            { url = url + "?token=" + tokenId; }
            else if (url.Contains("&"))
            { url = url + "&token=" + tokenId; }
            else
            { url = url + "token=" + tokenId; }
        }
        else
        {
            string path = string.IsNullOrEmpty(this.AppUrl) ? "/" + item.ResID : "/" + this.AppUrl + "/" + item.ResID;
            url = Yar.Core.YarSystem.GetViewSitePath(path);
        }

        return url;
    }

    string GetAppUrl(string path)
    {
        return string.IsNullOrEmpty(this.AppUrl) ? "/" + path : "/" + this.AppUrl + "/" + path;
    }

    bool CheckSelected(Yar.Service.Model.BusinessGroup item, string id,string[] idpath)
    {
        if (idpath.Contains(item.ResID))
        {
            return true;
        }
        //foreach (var sub in item.children)
        //{
        //    if (CheckSelected(sub, id, idpath))
        //    {
        //        return true;
        //    }
        //}
        return false;
    }
}
<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@Model.Content.GetItemValue("title")</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/../Content/Site.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/fontcss/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/fontcss/simple-line-icons.min.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/bootstrap-switch/bootstrap-switch.min.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/sweetalert/sweetalert.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/select2/select2.min.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/select2/select2-bootstrap.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/BoostrapDialog/bootstrap-dialog.css")" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/components.css")" id="style_components" rel="stylesheet" type="text/css">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/layout.css")" rel="stylesheet" type="text/css">
    @*<link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/darkblue.css")" rel="stylesheet" type="text/css" id="style_color">*@
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/light.css")" rel="stylesheet" type="text/css" id="style_color">
    <link href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/custom.css")" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/favicon.ico")">
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid @(IsSidebarClosed ? "page-sidebar-closed":"")">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="menu-toggler sidebar-toggler"><span></span></div>
            <div class="brand-text-box pull-left" style="margin-top:20px;margin-left:5px;"><span style="font-family:'Microsoft YaHei';font-size: 27px;color:white;">@Model.Content.GetItemValue("headertitle")</span></div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                @if (legalList.Length > 0)
                {
                    <li class="dropdown dropdown-extended">
                        <a href="javascript:;" class="dropdown-toggle" style="padding: 15px 6px 12px 8px;color:#c7e5fb" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" dataid="@currentLegal.ID">
                            <span class="legalname-hide-mobile">@currentLegal.Name</span>
                        </a>

                        @if (legalList.Count() > 1)
                        {
                            <ul class="dropdown-menu">
                                <li>
                                    <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                        @foreach (var item in legalList)
                                        {
                                            <li class="@if (currentLegal.ID == item.ID) { <text>active open</text> }">
                                                <a href="javascript:AdminBoostrap.SwitchLegal('@item.ID');">
                                                    <span>@item.Name</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul></ul>
                        }

                    </li>

                }
                @if (user == "")
                {
                    <text>
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/Login.html")" class="dropdown-toggle">
                                <span class="home-logout">a</span>
                            </a>

                        </li>
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="@Yar.Core.YarSystem.GetViewSitePath("PersonalHome")" class="dropdown-toggle">
                                <div class="home-return"></div>
                            </a>
                        </li>
                    </text>
                }
                else
                {
                    <text>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true" aria-expanded="false">
                                <img alt="" class="img-circle" id="userImg">
                                <span class="username username-hide-on-mobile">@user</span>
                            </a>
                            <ul></ul>
                            @*<ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="page_user_profile_1.html">
                                            <i class="icon-user"></i> My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_user_login_1.html">
                                            <i class="icon-key"></i> Log Out
                                        </a>
                                    </li>
                                </ul>*@
                        </li>
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="@Yar.Core.YarSystem.GetViewSitePath("/RestAPI/Permission/Logout?returnurl=/" + this.AppUrl + "&clientInfo=&token=" + tokenId)" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                        @*<li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="@Yar.Core.YarSystem.GetViewSitePath("PersonalHome")" class="dropdown-toggle">
                                    <div class="home-return"></div>
                                </a>
                            </li>*@
                    </text>
                }


            </ul>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        @Yar.Service.UIHelper.CsrfToken(context)
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <div>
                    <ul class="page-sidebar-menu @(IsSidebarClosed ? "page-sidebar-menu-closed":"")" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        @foreach (var item in nodes)
                        {
                            if (string.IsNullOrEmpty(item.NodeType) || item.NodeType == "tab")
                            {
                                if (item.children.Count > 0)
                                {
                                    var nodeContent = (Yar.Service.Model.NodeContent)Yar.Service.UIHelper.GetNodeContent(item.ResID);
                                    var icon = item.Icon;
                                    if (nodeContent != null)
                                    {
                                        icon = nodeContent.GetItemValue("Icon");
                                    }
                                    var bSelected = CheckSelected(item, (string)Model.Action, nodeIdList);
                                    <li class="@(bSelected ? "active open" :"")">
                                        <a href="javascript:;" class="nav-link nav-toggle">
                                            @if (icon != null)
                                            {
                                                <i class="@icon"></i>
                                            }
                                            <span class="title">@item.Name @item.NodeType</span>
                                            @if (bSelected)
                                            {
                                                <span class="arrow open"></span>
                                            }
                                            else
                                            {
                                                <span class="arrow"></span>
                                            }
                                        </a>
                                        @NodesHtml(item.children.ToArray(), tokenId, nodeIdList)
                                    </li>
                                }
                                else
                                {
                                    var selected = (string)item.ResID == (string)Model.Action ? "active open" : "";
                                    var nodeContent = (Yar.Service.Model.NodeContent)Yar.Service.UIHelper.GetNodeContent(item.ResID);
                                    var icon = item.Icon;
                                    if (nodeContent != null)
                                    {
                                        icon = nodeContent.GetItemValue("Icon");
                                    }
                                    <li class="@selected">
                                        <a href="@item.ViewPath" class="nav-link nav-toggle">

                                            @if (icon != null)
                                            {
                                                <i class="@icon"></i>
                                            }
                                            <span class="title">@item.Name</span>
                                            @if (selected != "")
                                            {
                                                <span class="arrow open"></span>
                                            }
                                            else
                                            {
                                                <span class="arrow"></span>
                                            }
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @this.Raw(Yar.Service.UIHelper.PatialView(template, Model))

            </div>
            <div class="page-footer">
                <div style="border-width:1px;border-style: solid; border-top:1px;height:1px;border-color:#ccc"></div>
                <div class="page-footer-inner">
                    <span class="brandQuaternaryFgr">@Model.Content.GetItemValue("Copyright") 版本号：@Yar.Core.YarSystem.Current.Version.Publish</span>
                </div>
            </div>
        </div>

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->

    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/jquery.json-2.4.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/bootstrap/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/bootstrap-switch/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/sweetalert/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/select2/select2.full.min.js")" type="text/javascript"></script>

    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/BoostrapDialog/bootstrap-dialog.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/NiceValidator/jquery.validator.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/NiceValidator/local/zh-CN.js")" type="text/javascript"></script>

    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Scripts/global.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/metronic.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/layout.js")" type="text/javascript"></script>
    <script src="@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Portal/AdminBoostrap/Content/AdminBoostrap.js")" type="text/javascript"></script>
    <script type="text/javascript">
        global.initPage();
        jQuery(document).ready(function () {
            App.init();
            Layout.init();
            //AdminBoostrap.init('#@defaultviewId');
            AdminBoostrap.init();
            global.initContent();
            var userPhotoId = '@userPhotoId';
            if (userPhotoId && userPhotoId != '00000000-0000-0000-0000-000000000000') {
                $('#userImg').attr('src', global.GetActionUrl("_BizAttachmentService", "GetAttachment", { AttachmentId: userPhotoId }));
            } else {
                $('#userImg').attr('src', '@Yar.Core.YarSystem.GetViewSitePath("/ApiViews/Content/images/noman.gif")');
            }
        });

    </script>
</body>
</html>