@{
    //var model = Model.Data as Yar.BizModule.Permission.Model.BusinessGroup[];
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var bizId = Model.BizId;
    var requestUri = Yar.Service.UIHelper.GetActionUri(context);
    var urlPath = requestUri.AbsolutePath;
}
<div id="pgcontent" class="content">
    @Yar.Service.UIHelper.RenderPatial(@"Enterprise\Common\_pageHead.cshtml", Model)

    <div class="row" style="display: block;">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-tag"></i>
                        角色管理
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">名称</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.name" style="width: 100%; height: 34px;" class="easyui-textbox" data-options="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">编码</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.roleno" style="width: 100%; height: 34px;" class="easyui-textbox" data-options="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="float: right;display: inline-block;">
                                        <a href="javascript:;" class="gt2_btn_search" data-bind="click:OnRefresh"><i class="fa fa-refresh"></i> 搜索 </a>
                                        <a href="javascript:;" class="gt2_btn_add" data-bind="click:OnCreate"><i class="fa fa-plus-circle"></i> 新增 </a>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:5px;" id="griddiv">
                        <table data-bind="grid:uiSources.gridList" id="gridlist" style=""></table>
                    </div>
                </div>
            </div>
        </div>           
        </div>
</div>

  <script id="ContentInit" type="text/javascript"  src="">
  MainApp.ViewSite = '@Yar.Core.YarSystem.Current.ViewSite';
      MainApp.Token = '@tokenId';
  Pagecom = (function () {
          function Pagecom() {
          };
		  Pagecom.DetailLink = function (value, rowData, rowIndex) {
		      return String.format("<a href='#' title='{1}' onclick='Pagecom.ViewModel.RoleDetail(\"{0}\")' >{1}</a>", rowData.ResId, rowData.Name);
          };
          return Pagecom;
      })();

  function BizViewModel() {
      var self = this;
      var displaydata = { name: '', roleno: '' };
      self.displaydata = ko.mapping.fromJS(displaydata);
      self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");
      self.uiSources = {
        gridList: {
          ops: {
            ClientPage: false,
            ele: "#gridlist",
            SizeOpt: {
                pid: "#griddiv",
                top: @Yar.Service.UIHelper.GetMasterInterval(context) + 131
            }
          },
          sops: {
              url: self.ViewTool.GetActionUrl("Post", "GetResourceList"),
            fitColumns:true,
            striped:true,
            columns: [[
              { field: 'Name', title: '名称', sortable: true, width: 100, formatter: Pagecom.DetailLink },
			  { field: 'Code', title: '编码', sortable: true, width: 100 },
              { field: 'RoleType', sortable: true, title: '角色范围', width: 100 },
              { field: 'Desc', title: '描述', width: 150 },
              {
                  field: 'ResId', title: '相关操作', align:'center',
                  formatter: function (value, row, index) {
                      if(row.ResId != 'admin')
                          return String.format('<a href="#" class="btn_default" title="删除" onclick="Pagecom.ViewModel.OnDelete(\'{0}\')"><i class="fa fa-trash-o"></i></a>', row.ResId);
                      return '';
                  }
              }
          ]]
          }
        }
      };
      self.Init = function () {
      };
      self.OnRefresh = function () {
          var data = {
              name: Pagecom.ViewModel.displaydata.name(),
              roleno: Pagecom.ViewModel.displaydata.roleno(),

          };
          $('#gridlist').datagrid('load',data);
      };
      self.OnCreate = function () {
			//global.OpenWindow('/Admin/RoleDetail');
            global.OpenWindow('@urlPath/CreateView');
      };
      self.OnDelete = function (resId) {
          $.messager.confirm('确认', '你确定想删除此数据?', function (r) {
              if (r) {
                  var url = self.ViewTool.GetActionUrl("Post", "Delete", { resId: resId, logicDeletes: 1 });
                  YarClient.AjaxPost(url, null, {
                      IsWarning: true,
                      success: function (returnData) {
                          self.OnRefresh();
                          $.messager.alert('Message', '更新成功', 'info');
                      }
                  });
              }
          });
      };

	  self.RoleDetail = function (resId) {
	      if (resId) {
	                //global.OpenWindow("@Yar.Service.UIHelper.GetAppUrl(context)/HR_ORG_JL");
					global.OpenWindow('@urlPath/EditView?resId=' + resId);
					//alert('ddd');
                    //MainApp.ShowTabView("开户信息", Pagecom.ViewModel.ViewTool.GetActionUrl("Get", "ExplorerView", { resId: resId }), null, true);
                }
            };
    };

    var viewModel = new BizViewModel();
        Pagecom.ViewModel = viewModel;
      viewModel.Init();
      ko.applyBindings(viewModel,$('#pgcontent')[0]);
      viewModel.OnRefresh();
</script>

<script id="ContentInitCss" type="text">
    [@Yar.Service.BundleRender.RenderFormat("~/PageCommonCss")]
</script>

<script id="ContentInitScript" type="text">
    [@Yar.Service.BundleRender.RenderFormat("~/PageCommonJs"),
    @Yar.Service.BundleRender.RenderFormat("~/PageJs"),
    @Yar.Service.BundleRender.RenderFormat("~/PageMainJs")]
</script>
