@using Yar.Service;
@{
    //var model = Model.Data as Yar.BizModule.Permission.Model.BusinessGroup[];
    var context = (Yar.Service.BusinessContext)Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var bizId = Model.BizId;
}
<div id="pgcontent" class="content">
    @Yar.Service.UIHelper.RenderPatial(@"Enterprise\Common\_pageHead.cshtml", Model)

    <div class="row" style="display: block;">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-tag"></i>
                        审计日志
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
								<div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">姓名</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.name" style="width: 100%; height: 34px;" class="easyui-textbox" data-options="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">账号</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.loginname" style="width: 100%; height: 34px;" class="easyui-textbox" data-options="" />
                                        </div>
                                    </div>
                                </div>    
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">业务编码</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.business" style="width: 100%; height: 34px;" class="easyui-textbox" data-options="" />
                                        </div>
                                    </div>
                                </div>
                                                       
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">业务名称</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.businessname" style="width: 100%; height: 34px;" class="easyui-textbox" data-options="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">时间</label>
                                        <div class="col-md-8">
                                            <div class="input-group" style="width:100%">
                                                <input id="starttime" type="text" data-provide="datepicker" class="form-control" data-bind="value:displaydata.starttime" />
                                                <div class="input-group-addon">至</div>
                                                <input id="endtime" type="text" data-provide="datepicker" class="form-control" data-bind="value:displaydata.endtime" />
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                
                                <div class="col-md-4">
                                    <div style="float: right;display: inline-block;">
                                        <a href="javascript:;" class="gt2_btn_search" data-bind="click:OnRefresh"><i class="fa fa-refresh"></i> 搜索 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:5px;" id="griddiv">
                        <table data-bind="grid:uiSources.gridList" id="gridlist" style=""></table>
                    </div>
                </div>
            </div>
        </div>           
     </div>
</div>
<script id="ContentInit" type="text/javascript" src="">
  MainApp.ViewSite = '@Yar.Core.YarSystem.Current.ViewSite';
      MainApp.Token = '@tokenId';
  Pagecom = (function () {
          function Pagecom() {
          };
          return Pagecom;
      })();

  function BizViewModel() {
      var self = this;
      self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");
      var displaydata = { resId: '', name: '', loginname: '', business: '', businessname: '', starttime: '', endtime :''};
      self.displaydata = ko.mapping.fromJS(displaydata);
            self.uiSources = {
                gridList: {
                    ops: {
                        ClientPage: false,
                        ele: "#gridlist",
                        SizeOpt: {
                            pid: "#griddiv",
                            top: @Yar.Service.UIHelper.GetMasterInterval(context) + 180
                        }
                    },
                    sops: {
                        url: self.ViewTool.GetActionUrl("Post", "GetResourceList"),
                        fitColumns: true,
                        selectOnCheck: false,
                        checkOnSelect: false,
                        rownumbers: true,
                        columns: [[
                    { field: 'LoginName', title: '账号', sortable: true, width: 100 },
                    { field: 'Name', title: '姓名', sortable: true, width: 100 },
                    { field: 'Business', title: '业务', sortable: true, width: 150 },
                     { field: 'BusinessName', title: '业务名称', sortable: true, width: 150 },
                    { field: 'Action', title: 'Action', sortable: true, width: 150 },
                    { field: 'StatusCode', title: '状态', width: 50 },
                    { field: 'RequestIP', title: 'IP', width: 80 },
                    { field: 'Title', title: '内容'},
                    { field: 'CreateTime', title: '时间', sortable: true, width: 120 },

                        ]],
                    }
                }
            };
      self.Init = function () {
      };
      self.OnRefresh = function () {
          var data = {
              name: Pagecom.ViewModel.displaydata.name(),
              loginname: Pagecom.ViewModel.displaydata.loginname(),
              business: Pagecom.ViewModel.displaydata.business(),
              businessname: Pagecom.ViewModel.displaydata.businessname(),
              starttime: Pagecom.ViewModel.displaydata.starttime(),
              endtime: Pagecom.ViewModel.displaydata.endtime(),
          };
          $('#gridlist').datagrid('load',data);
      };

      self.displaydata.starttime.subscribe(function (val) {
          $('#endtime').datepicker('setStartDate', val == "" ? false : val);
      });
      self.displaydata.endtime.subscribe(function (val) {
          $('#starttime').datepicker('setEndDate', val == "" ? false : val);
      });

    };

    var viewModel = new BizViewModel();
        Pagecom.ViewModel = viewModel;
      viewModel.Init();
      ko.applyBindings(viewModel,$('#pgcontent')[0]);
      viewModel.OnRefresh();
</script>

<script id="ContentInitCss" type="text">
    [@Yar.Service.BundleRender.RenderFormat("~/PageCommonCss")]
</script>

<script id="ContentInitScript" type="text">
    [@Yar.Service.BundleRender.RenderFormat("~/PageCommonJs"),
    @Yar.Service.BundleRender.RenderFormat("~/PageJs"),
    @Yar.Service.BundleRender.RenderFormat("~/PageMainJs")]
</script>
