@{
    Yar.Service.BusinessContext context = Model.Context;
    var tokenId = (context == null || context.Credential == null) ? "" : context.Credential.TokenId;
    var bizId = Model.BizId;
    string OrgId = context.Request["OrgId"];
}
<div class="content">
    @Yar.Service.UIHelper.RenderPatial(@"Enterprise\Common\_pageHead.cshtml", Model)
    <div class="row" style="display: block;">
        <div class="col-md-3">
            <div class="portlet box blue" style="margin-bottom:2px;">
                <div class="portlet-title">
                    <div class="caption">
                        组织机构
                    </div>
                </div>
                <div class="portlet-body" style="overflow:auto; max-height:700px ">
                    <ul id="hr_OrgUnit_OrgUnit_orgTree"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>组织机构管理
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label bold col-md-4">名称</label>
                                        <div class="col-md-8">
                                            <input type="text" data-bind="textboxValue:displaydata.name" class="easyui-textbox" style="width: 100%;" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12" style="margin-top:5px;">
                                        <input type="checkbox" data-bind="checked:displaydata.isShowSubordinate"> 是否显示下级
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="float: right;display: inline-block;">
                                        <a class="gt2_btn_search" href="javascript:;" data-bind="click:OnRefresh"><i class="fa fa-refresh"></i> 搜索 </a>
                                        <a id="btnAdd" class="gt2_btn_add" href="javascript:;" data-bind="click:OnCreate" data-toggle="tooltip" data-placement="top" title="新增组织单元"><i class="fa fa-plus-circle"></i> 新增 </a>
                                        <a class="gt2_btn_delete" href="javascript:;" data-bind="click:OnDeleteall"><i class="fa fa-remove"></i> 删除 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:5px;" id="griddiv">
                        <table data-bind="grid:uiSources.gridList" id="gridlist" style=""></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="ContentInit" type="text/javascript" src="">
    MainApp.ViewSite = '@Yar.Core.YarSystem.Current.ViewSite';
    $.ajaxSetup({
        cache: false
    });
    Pagecom = (function () {
        function Pagecom() {
        };
        Pagecom.DetailLink = function (value, rowData, rowIndex) {
            return String.format("<a href='#' onclick='Pagecom.ViewModel.DetailLink(\"{0}\")'>{1}</a>", rowData.ResId,value);
        };
        Pagecom.FormatterDateTime = function (value, row, index) {
            if (value && value != null) {
                var t = new Date(Date.parse(value.replace(/-/g, "/")));
                return t.Format("M/d/yyyy");
            }
            return value;
        };
        return Pagecom;
    })();
    var ViewModel = function (data) {
        var self = this;
        self.ViewTool = new YarClient.ViewModel("@bizId", "@tokenId");

        var displaydata = { name: '',type:'',isShowSubordinate:'true' };
        self.displaydata = ko.mapping.fromJS(displaydata);
        self.dataSources = data.dataSources;
        self.uiSources = {
            gridList: {
                ops: {
                    ClientPage: false,
                    ele: "#gridlist",
                    SizeOpt: {
                        pid: "#griddiv",
                        top: @Yar.Service.UIHelper.GetMasterInterval(context) + 131
                    }
                },
                sops: {
                    url: self.ViewTool.GetActionUrl("Post", "GetResourceList"),
                    fitColumns:true,
                    striped:true,
                    selectOnCheck: false,
                    checkOnSelect: false,
                    columns: [[
                    { field: 'ck', checkbox:true },
                    { field: 'OrganizationCode', title: '编码', sortable:true, width: 200, formatter: function(value, row, index){
                        return String.format('<span title="{0}" data-toggle="tooltip">{0}</span>', value);
                    } },
                    { field: 'OrganizationName', title: '名称',sortable:true, width: 260 ,formatter: function(value, row, index){
                        var n = String.format('<a class="" href="#" title="{1}" data-toggle="tooltip" data-placement="top" onclick="Pagecom.ViewModel.OnView(\'{0}\')">{1}</a>',row.OrganizationID,value)
                        return n;
                    }},
                    { field: 'LeadEmpPosName', title: '负责人职位', sortable:true, width: 200, formatter: function(value, row, index){
                        return String.format('<span title="{0}" data-toggle="tooltip">{0}</span>', value);
                    } },
                    { field: 'AllPositionName', title: '职位', sortable:true, width: 200, formatter: function(value, row, index){
                        return String.format('<span title="{0}" data-toggle="tooltip">{0}</span>', value);
                    } },
                    //{ field: 'AllEmpCount', title: '在职员工数',sortable:true, width: 200 },
                    { field: 'IsDisabled', title: '状态',sortable:true, width: 200, formatter: function(value, row, index){
                        var s = String.format('<a class="btn btn-xs btn-success" onclick="Pagecom.ViewModel.OnModifyIsDisableState(\'{0}\')">{1}</a>',row.OrganizationID,value);
                        if(value=='禁用')
                            s = String.format('<a class="btn btn-xs btn-default" onclick="Pagecom.ViewModel.OnModifyIsDisableState(\'{0}\')">{1}</a>',row.OrganizationID,value);
                        return  s;
                    } },
                    { field: 'OrganizationID', title: '功能',formatter: function(value, row, index){

                        var s = String.format('<a class="btn_default" href="#" onclick="Pagecom.ViewModel.OnEdit(\'{0}\')"><i class="fa fa-edit"></i></a>', row.OrganizationID);
                        //+String.format('<a class="btn_default" href="#" title="{1}" onclick="Pagecom.ViewModel.OnCheckPosition(\'{0}\')"><i class="fa fa-eye"></i></a>',row.OrganizationID,"查看职位");
                        @*String.format('<a class="btn_default" href="#" onclick="Pagecom.ViewModel.OnView(\'{0}\')"><i class="fa fa-eye"></i></a>',row.OrganizationID)+*@
                        @*String.format('<a class="btn_default" href="#" onclick="Pagecom.ViewModel.OnDelete(\'{0}\')"><i class="fa fa-trash-o"></i></a>',row.OrganizationID)+*@
                        @*String.format('<a class="btn_default" href="#" onclick="Pagecom.ViewModel.OnModifyIsDisableState(\'{0}\')">{1}</a>',row.OrganizationID,row.Disabled);*@


                        return s;
                    }
                    }
                    ]]
                }
            }
        };

        self.Init = function () {
            $('#hr_OrgUnit_OrgUnit_orgTree').tree({
                url: self.ViewTool.GetActionUrl("Post", "GetOrgTree"),
                onLoadSuccess: function (node, data) {
                    var root = $('#hr_OrgUnit_OrgUnit_orgTree').tree("getRoot");
                    if (root) {
                        $('#hr_OrgUnit_OrgUnit_orgTree').tree("select", root.target);
                        //var data = {
                        //    name: Pagecom.ViewModel.displaydata.name(),
                        //    type:Pagecom.ViewModel.displaydata.type(),
                        //    isShowSubordinate:Pagecom.ViewModel.displaydata.isShowSubordinate(),
                        //    parentId:root.id,
                        //    rootId:root.id
                        //};
                        //$('#gridlist').datagrid('load', data);
                    }

                },
                onSelect: function (node) {

                    var root = $('#hr_OrgUnit_OrgUnit_orgTree').tree("getRoot");
                    var data = {
                        name: Pagecom.ViewModel.displaydata.name(),
                        type:Pagecom.ViewModel.displaydata.type(),
                        isShowSubordinate:Pagecom.ViewModel.displaydata.isShowSubordinate(),
                        parentId:node.id,
                        rootId:root.id
                    };
                    $('#gridlist').datagrid('load', data);

                }
            });
            //$(window).resize(self.OnResize);
            //self.OnResize();

        };
        self.OnResize = function () {
            var th = $('#hr_OrgUnit_OrgUnit_orgTree').parent().height();
            var gh = $('#griddiv').height() + 85;

            $('#hr_OrgUnit_OrgUnit_orgTree').parent().css({ height: gh + "px" });
        };
        self.OnRefresh = function () {
            var OrgId = '@OrgId';
            debugger;
            $('#hr_OrgUnit_OrgUnit_orgTree').tree({
                url: self.ViewTool.GetActionUrl("Post", "GetOrgTree"),
                onLoadSuccess: function (node, data) {

                    if(OrgId)
                    {
                        var node = $('#hr_OrgUnit_OrgUnit_orgTree').tree('find', OrgId);
                        $('#hr_OrgUnit_OrgUnit_orgTree').tree('select', node.target);
                    }

                    var node = $('#hr_OrgUnit_OrgUnit_orgTree').tree('getSelected');
                    var root = $('#hr_OrgUnit_OrgUnit_orgTree').tree("getRoot");
                    if (node) {
                        var data = {
                            name: Pagecom.ViewModel.displaydata.name(),
                            type:Pagecom.ViewModel.displaydata.type(),
                            isShowSubordinate:Pagecom.ViewModel.displaydata.isShowSubordinate(),
                            parentId:node.id,
                            rootId:root.id
                        };
                        $('#gridlist').datagrid('load', data);
                    }
                    else
                    {
      
                        var root = $('#hr_OrgUnit_OrgUnit_orgTree').tree("getRoot");
                        if (root) {
                            $('#hr_OrgUnit_OrgUnit_orgTree').tree("select", root.target);
                        }
                    }

                },

            });

        };

        self.OnCreate = function () {

            var node = $('#hr_OrgUnit_OrgUnit_orgTree').tree('getSelected');
            if (node) {
                MainApp.ShowPartialView(YarClient.NewGuid(), self.ViewTool.GetActionUrl("Get", "CreateView",{ code: node.code,idTreeNode:node.id }), { ViewModel: self, data: {} },
                function (data) {
                    self.OnRefresh();
                });
            }
            else
            {
                MainApp.ShowPartialView(YarClient.NewGuid(), self.ViewTool.GetActionUrl("Get", "CreateView"), { ViewModel: self, data: {} },
                function (data) {
                    self.OnRefresh();
                });
            }

        };

        self.OnView = function (companyId) {
            MainApp.ShowPartialView(YarClient.NewGuid(), self.ViewTool.GetActionUrl("Get", "PreviewView", { resId: companyId }), { ViewModel: self, data: {} },
            function (data) {
                //self.OnRefresh();
            });
        };
        self.OnEdit = function (companyId) {
            MainApp.ShowPartialView(YarClient.NewGuid(), self.ViewTool.GetActionUrl("Get", "EditView", { resId: companyId }), { ViewModel: self, data: {} },
            function (data) {
                self.OnRefresh();
            });
        };

        self.OnDeleteall = function () {
            var rows = $("#gridlist").datagrid('getChecked');
            var array = [];
            var names = '';
            if(rows && rows.length > 0){
                rows.each(function (value, index) {
                    array.push(value.OrganizationID);
                    if(names!='')
                        names +='\r\n';
                    names += value.OrganizationName;
                });
                swal({
                    title: "你是否确认删除如下信息?",
                    text: names,
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false
                }, function() {
                    YarClient.AjaxGet(self.ViewTool.GetActionUrl("Get", "DeleteAll",{ ids: array.join(';') }), {
                        IsWarning: true,
                        success: function (returnData) {
       
                            if(returnData.Result != null && returnData.Result.status == 'warning')
                            {
                                swal(returnData.Result.message, "", "warning");
                                return;
                            }

                            self.OnRefresh();
                            swal("删除成功", "", "success");
                        }
                    });
                });
            }
            else{
                swal("请选择需要删除的信息", "", "warning");
            }
        };

        self.OnModifyIsDisableState = function (companyId) {
            $.ajax({
                url: self.ViewTool.GetActionUrl("Get", "ModifyIsDisableState", { resId: companyId }),

                success: function (text) {
                    if(text.indexOf('Error')!=-1)
                    {
                        swal("当前组织机构下存在子部门,无法禁用!", "", "warning");
                        return;
                    }
                    self.OnRefresh();
                },
                error: function () {
                }
            });
        };

        self.OnCheckPosition = function (companyId) {
            global.OpenWindow('/Admin/ORG_Position?OrgId=' + companyId);
        };
    };

    var data = @this.Raw(Model.Data);
    //var data = {};
    var viewModel = new ViewModel(data);
    Pagecom.ViewModel = viewModel;
    ko.applyBindings(viewModel);
    viewModel.Init();
    //viewModel.OnRefresh();

</script>

<script id="ContentInitCss" type="text">
    [@Yar.Service.BundleRender.RenderFormat("~/PageCommonCss")]
</script>

<script id="ContentInitScript" type="text">
    [@Yar.Service.BundleRender.RenderFormat("~/PageCommonJs"),
    @Yar.Service.BundleRender.RenderFormat("~/PageJs"),
    @Yar.Service.BundleRender.RenderFormat("~/PageMainJs")]
</script>

